.avatar{
    width:5rem;
    height:5rem;
    background-color:gold;
    float:left;
    margin-right:0.5rem;
}

.clear{
    clear:both;
}

.tweet{
    border:3px solid blue;
}

.tweet::after{
    content:'';
    display:block;
    clear:both;
}