body{
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family:Georgia, "Times New Roman" , Times, serif;
}

p{
    font-weight: normal;
    font-style:italic;
    font-size:1rem;
    color:red;
}