
html{
    font-size:100%;
}
@font-face {
    font-family: 'opensans';
    src: url('fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/open-sans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensans';
    src: url('fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/open-sans/opensans-regular-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
body{
    margin:10px;
    font-family: "Open Sans" , Arial, Helvetica, sans-serif;
    font-size:1rem; /*1*16px(font size of the root element)*/
    line-height:1.5;
}

h1{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size:3.052rem;
    margin: 3rem 0 1rem;
}

h2 {
    font-size:2.441rem;
}

.p1{
    font-weight: normal;
   letter-spacing:2px;
   word-spacing:2px;
    font-size:1rem;
    color:#333;
    width:50ch;
    text-align:left;
    text-indent:1rem;
    text-transform:capitalize;
    white-space:nowrap;
    
}

.p2{
    column-count:2;
    column-gap:2rem;
    column-rule:2px solid black;
    direction: rtl;
}

@media screen and (min-width:400px){
html{
    font-size: 130%;
}
}