.container{
    display:grid;
    grid-template: 100px auto 100px / 30fr 70fr  ;
    grid-template-areas:"header header" "sidebar main" "footer footer";
    border:3px solid grey;     
    height:100vh;
    gap:10px;
    
}

.box{
    background-color:gold;
}

.box-one{
    grid-area:header;
}

.box-four{
    grid-area:footer;
}