.ssplane, .ssrocket, .sssaturn, .ssufo, .ssdish
{ display: inline-block; background: url('download.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.ssplane { background-position: -0px -0px; width: 512px; height: 512px; }
.ssrocket { background-position: -0px -512px; width: 512px; height: 512px; }
.sssaturn { background-position: -0px -1024px; width: 512px; height: 512px; }
.ssufo { background-position: -0px -1536px; width: 512px; height: 512px; }
.ssdish { background-position: -0px -2048px; width: 128px; height: 128px; }
