*, *::before, *::after{
    box-sizing:border-box;
}
body{
    margin: 10px;
}
p{
    padding: 0px ;
    margin:20px;
}

.box{
    width:100px;
    height:100px;
    background-color:gold;
    display:inline-block;
    
}

.box::before{
    content: 'Hello';
}
.box1{
    border:3px solid gold;
    width:150px;
    height:150px;
    overflow:hidden auto;
}